@model IEnumerable<TuitionClassProject.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Students</h2>
@Html.ActionLink("New Student", "StudentForm", "Students", new { @class = "btn btn-primary" })

<table id="students" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Index Number</th>
            <th>Student Name</th>
            <th>Path</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.ActionLink(student.IndexNumber, "Edit", "Students", new { id = student.Id }, null)</td>
                <td>@student.Name</td>
                <td>@student.Category.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Students", new { id = student.Id }, new { @class = "btn btn-warning btn-sm" })
                    <button class="btn btn-danger btn-sm js-delete" data-id="@student.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#students").DataTable();

            $(".js-delete").on('click', function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to <b>DELETE</b> this student?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/students/" + button.attr("data-id"),
                                method: "DELETE",
                                success: function () {
                                    table.rows(button.parents("tr")).remove().draw();
                                    //button.parents("tr").remove();
                                }
                            });
                        }
                    });
            })
        });
    </script>
}

